@page
@model FizzBuzzNET.Pages.Results.IndexModel

@{
    ViewData["Title"] = "Zapisane w bazie danych";
}

<h1>Zapisane w bazie danych</h1>

<!--<p>
    <a asp-page="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].Wynik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FizzBuzz[0].Czas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FizzBuzz)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wynik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Czas)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
